In [1]:
import pandas as pd

In [13]:
rawdata=pd.read_csv('ttprice.csv',header=None,names=['id','price'],usecols=[0,1])
data=rawdata.set_index('id')
data.head()

              price
id
106092265412  306.0
106092567126  130.0
106092759415  280.0
106100058721  350.0
106100189047  215.0

In [15]:
data.describe()

             price
count  2969.000000
mean    174.941529
std      76.100515
min      42.000000
25%     127.000000
50%     158.000000
75%     205.000000
max     700.000000